body {
	font-family: Lato, sans-serif;
}

.user {
	font-weight: bold;
	color: var(--color, inherit);
}

.user img {
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
	vertical-align: -.25em;
	border-radius: 0.625em;
	margin-right: .5ex;
}

.message {
	display: inline-block;
}

.message-enter {
	transform: translateX(100%);
	opacity: 0;
}

.message-enter.message-enter-active {
	transform: translateX(0);
	opacity: 1;
	transition:
		opacity .3s linear .1s,
		transform .2s ease-out;
}
